.App{
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #8f8b88;
}

/* Navigation */
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head button {
    display: none;
    cursor: pointer;
}
.head .nav{
    display: flex;
    flex-direction: row;
    width: 34%;
    justify-content: space-between;
}

.head .nav p{
    margin: 0 1% 0 1%;
    color: #8f8b88;
    font-size: 1.2rem;
    cursor: pointer;
}

.head .title{ 
text-align: center;
font-family: 'Yeseva One', cursive;
font-size: 2.2rem;
color: #0d1a60;
margin-right: 15%;
letter-spacing: 3px;
}

.head .right_nav{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.head .right_nav p {
    font-size: 1.2rem;
    cursor: pointer;
}

.head .right_nav .shopping_cart{
    background: #ffffff;    
    padding: 12%;
    width: 30%;
    height: 10%;
    border-radius: 30%;
    filter: drop-shadow(0 1px 2px #d4d4d4);
}

/* JumboTron */
.banner{
    background-color: #fbf7f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner .left_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2%;

}
.banner .left_div p:first-child {
    font-family: 'Arbutus Slab', serif;
    font-size: 4.0em;
    color: #575048;
    letter-spacing: normal;
    font-weight: 700;
    margin: 0;
}

.banner .left_div p:nth-child(2) {
    width: 80%;
    line-height: 1.8rem;
}

.banner .left_div button {
    width: 250px;
    background-color: #f6a54c;
    color: whitesmoke;
    border: none;
    height: 70px;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.banner .bannerImg {
    width: 50%;
}

/* HomePage */
.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}
.section_1 img {
    width: 70%;
}
.section_1 .left_products {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section_1 .left_products p {
    width: 70%;
    padding-left: 5%;
    margin: 0;
    padding: 10px;
}
.section_1 .left_products p:nth-child(2) {
    font-family: 'Arbutus Slab', serif;
    color: #575048;
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 60px;
}

.section_1 .left_products p:nth-child(3) {
    line-height: 1.8;
}

.section_1 .right_about {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section_1 .right_about p {
    margin: 0;
}
.section_1 .right_about p:nth-child(1) {
    font-family: 'Arbutus Slab', serif;
    color: #575048;
    font-size: 3.4rem;
    font-weight: 600;
}

.section_1 .right_about p:nth-child(2) {
    line-height: 1.8;
    padding: 30px 0 30px 0;
}

.section_1 .right_about button {
    background: none;
    border: none;
    color: #f5a44b;
    width: 117px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 8%;
}

.section_1 .right_about img {
    width: 100%;
}

/* Section 2 */
.section_2_head {
    font-size: 3.2rem;
    font-family: 'Arbutus Slab', serif;
    color: #575048;
    font-weight: 700;
    text-align: center;
    padding: 4%;
}

.section_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section_2 .card{
    background-color: #fafafa;
    margin: 1%;
    width: 440px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section_2 .card div {
    width: 400px;
    position: relative;
    top: 0;
    left: 0;
}
.section_2 .card img:nth-child(1){
    width: 400px;
    height: 300px;
    object-fit: cover;
    
}
.section_2 .card img:nth-child(2){
    position: absolute;
    left: 35%;
    top: 12%;
    width: 100%;
}
.section_2 .card .card_title{
    font-weight: 700;
    color: #575048;
    font-size: 1.2rem;
}
.section_2 .card .card_descript{
    width: 280px;
    line-height: 1.5;
}
.section_2 .card a{
    color: #f5a44b;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.section_3{
    background-color: #fef5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}
.section_3 .section_3_title{
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Arbutus Slab', serif;
    color: #575048;
    letter-spacing: 2px;
    font-weight: 700;
    margin:0;
    padding: 4%;
}
.section_3 .slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_3 .slide img{
    width: 100%;
    overflow: hidden;
}
.section_3 img{
    width: 15%;
    margin: 1%;
    cursor: pointer;
}
.section_3 div:last-child{
    margin-bottom: 4%;
}
/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer p{
    font-weight: 400;
    cursor: pointer;
}
.footer p:hover{
    text-decoration: underline;
}
.footer .footer_title{
    font-weight: 600;
    color: #575048;
    cursor: default;
}
.footer .footer_title:hover{
    text-decoration: none;
}
.footer a {
    font-weight: 600;
    color: #575048;
    text-decoration: none;
}
.copyright {
    text-align: center;
    margin: 5% 0 5% 0;
}

/* Media Queries */
@media (max-width: 1340px){ 
    .banner .left_div p:first-child {
        font-size: 3.5rem;
    }
    .banner .left_div button {
        width: 200px;
        height: 60px;
    }
}

@media (max-width: 1200px){
    .head .nav p{
        padding: 1%;
    }
    .head .title{
        margin-right: 5%;
    }
    .head .right_nav{
       width: 30%;
    }
    .banner .left_div p:first-child {
        font-size: 3.0rem;
    }
    .banner .left_div button {
        width: 170px;
        height: 50px;
        font-size: 1.2rem;

    }
}

@media (max-width: 1138px){ 
    .banner .left_div p:first-child {
        font-size: 2.5rem;
    }
    .section_3 .slide {
        flex-wrap: wrap;    
    }
    .section_3 .slide img {
        width: 50%;
        margin:0;
    }
    .section_3 .slide img:nth-child(3){
        display: none;
    }
    
    .section_3 img{
        width: 20%;
        margin-top: 4%;
    }
}
@media (max-width: 990px){
    .head button {
        display: block;
        background: white;
        border: none;
        outline: none;
    }
    .head .nav{
        display: none;
    }
    .head .title{
        margin-left: 20%;
    }
    .banner .left_div p:nth-child(2) {
        font-size: .9rem;
    }
}
@media (max-width: 820px){
    .head .right_nav p{
        visibility: hidden;
    }
    .section_1{
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
        align-items: center;
    }
    .section_1 .left_products{
        width: 100%;
    }
    .section_1 .left_products p{
        width: 100%;
    }
    .section_1 .right_about {
        width: 100%;
        margin: 6% 0 6% 0;
    }
    .section_3 img{
        width: 30%;
        margin-top: 4%;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .footer_col{
        width: 50%;
        margin-bottom: 5%;
    }
}

@media (max-width: 740px) {
    .banner {
        flex-direction: column-reverse;
    }
    .banner .bannerImg {
        width: 100%
    }
    .banner .left_div {
        width: 100%;
    }
    .banner .left_div button {
        display: none;
    }
    .section_3 img{
        width: 30%;
        margin-top: 4%;
    }
}