.App{
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head .nav{
    display: flex;
    flex-direction: row;
    width: 34%;
    justify-content: space-evenly;
}

.head .nav p{
    margin: 0 1% 0 1%;
    color: #8f8b88;
    font-size: 1.2rem;
}

.head .title{ 
text-align: center;
font-family: 'Yeseva One', cursive;
font-size: 2.2rem;
color: #0d1a60;
margin-right: 15%;
letter-spacing: 3px;
}

.head .right_nav{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.head .right_nav p {
    color: #8f8b88;
    font-size: 1.2rem;
}

.head .right_nav .shopping_cart{
    background: #ffffff;    
    padding: 12%;
    width: 30%;
    height: 10%;
    border-radius: 30%;
    filter: drop-shadow(0 1px 2px #d4d4d4);
}

